.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  position: relative;      
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-left : 70px; 
  margin-top : -100px;

 padding: 0;
  margin-bottom: 30px;
}

/* Affichage uniquement à partir de md */
.intro-image-hide-mobile {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}